.section {
    padding: 80px 0 100px;
}

.container {
    padding: 0 125px !important;
}

.mainTitle {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

.mainDesc {
    font-size: 24px;
    color: #000000;
    margin-bottom: 30px;
}

.card {
    padding: 30px;
    border-radius: 16px;
    height: 100%;
    border: none;
}

.iconContainer {
    margin-bottom: 20px;
    height: 40px; /* Altura fija para alinear los títulos*/
    display: flex;
    align-items: center;
}

.iconImg {
    width: 32px;
    height: auto;
    object-fit: contain;
}

.cardTitle {
    color: #5B2D6E;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 12px;
}

.cardText {
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    margin: 0;
}