/* AboutUnique.module.css */

.section {
    /* Alineación con el resto de la página */
    margin-left: 180px;
    margin-right: 180px;
    
    /* Fondo lila y bordes */
    background-color: #f0e6ff;
    padding: 60px 80px; /* Un padding interno generoso */
    border-radius: 16px;
}

.title {
    color: #5B2D6E;
    font-size: 36px;
    font-weight: 580;
    line-height: 1.2;
}

.text {
    font-weight: 390;
    color: #333;
    font-size: 25px;
    line-height: 1.5;
}