.hero {
    padding: 120px 0;
    background-color: #fff;
}

.container {
    padding: 0 125px !important;
}

.topLabel {
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 30px;
}

.iconBar {
    font-size: 24px;
    display: inline-flex;
    gap: 60px;
    align-items: center;
    margin-bottom: 30px;
    color: #5B2D6E;
    font-weight: 600;
}

.iconItem {
    display: flex;
    align-items: center;
    gap: 12px;
}

.barIcon {
    width: 35px;
    height: auto;
    object-fit: contain;
}
.divider {
    color: #ddd;
    font-weight: 300;
}

.description {
    /* max-width: 700px; */
    font-size: 30px;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 30px;
}

.imageWrapper {
    width: 100%;
    height: 900px;
    border-radius: 24px;
    overflow: hidden;
}

.mainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}