.gallery-text {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.gallery-text h1 {
    font-family: "Inter", sans-serif;
    color:#333333;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 25px;
}

.wavy-gallery {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #5c6ae4;
    text-decoration-skip-ink: none;
}

.gallery-text p {
    font-family: "Inter", sans-serif;
    color:#333333;
    font-size: 1.125rem;
}

.gallery {
    columns: 5 320px;
    column-gap: 0.5em;
    margin-bottom: 30vh;
} 

.gallery-img {
    max-width: 100%;
    margin-bottom: 0.5em;
    display: block;
    border-radius: 30px;
}

/* media queries */

@media (max-width: 600px) {
    .gallery {
        columns: 2 100px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .gallery-text {
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 10px;
    }
}

@media (max-width: 768px) {
    .gallery {
        columns: 2 100px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .gallery-text {
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 10px;
    }
}